<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.julian.universedb"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.julian.universedb.global.App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/iconsaturno"
        android:roundIcon="@drawable/iconsaturno"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Launcher"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/ViewPager" />

        <activity
            android:name=".nebulosas.activity.NebulosasActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".planetarias.activity.PlanetariasActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


        <activity
            android:name=".actividadesuniverso.PlanetasActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".actividadesuniverso.SatelitesNaturalesActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".actividadesuniverso.EstrellasActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


        <activity
            android:name=".actividadesuniverso.SupernovasActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


        <activity
            android:name=".actividadesuniverso.GalaxiasActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


        <activity
            android:name=".actividadesuniverso.ConstelacionesActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


        <activity
            android:name=".actividadesuniverso.CometasActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />



        <activity
            android:name="com.example.julian.universedb.user.activity.UserGridActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="com.example.julian.universedb.user.activity.UserGridActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.julian.universedb.user.activity.UserGridActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>